In [3]:
import pandas as pd
import numpy as np
import requests
import json

In [4]:
df1=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data1.csv')
df1

,Patient Number,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,...,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes,Num Cases
0,1.0,KL-TS-P1,30/01/2020,NaN,20,F,Thrissur,Thrissur,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1
1,2.0,KL-AL-P1,02/02/2020,NaN,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1
2,3.0,KL-KS-P1,03/02/2020,NaN,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,1
3,4.0,DL-P1,02/03/2020,NaN,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,...,"Travelled from Austria, Italy",NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria,1
4,5.0,TS-P1,02/03/2020,NaN,24,M,Hyderabad,Hyderabad,Telangana,TG,...,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17359,NaN,NaN,16/04/2020,NaN,NaN,NaN,NaN,NaN,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2
17360,NaN,NaN,18/04/2020,NaN,NaN,NaN,NaN,Nagpur,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
17361,NaN,NaN,18/04/2020,NaN,NaN,NaN,NaN,NaN,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
17362,NaN,NaN,19/04/2020,NaN,NaN,NaN,NaN,Nagpur,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
17363,NaN,NaN,19/04/2020,NaN,NaN,NaN,NaN,NaN,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10

In [5]:
df1=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data1.csv')
df2=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data2.csv')
df3=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data3.csv')
df4=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data4.csv')
df5=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data5.csv')
df6=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data6.csv')
df7=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data7.csv')
df8=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data8.csv')
df9=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data9.csv')
df10=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data10.csv')
df11=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data11.csv')
df12=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data12.csv')
df13=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data13.csv')
df14=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data14.csv')
df15=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data15.csv')
df16=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data16.csv')
df17=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data17.csv')
df18=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data18.csv')
df19=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data19.csv')
df20=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data20.csv')
df21=pd.read_csv('http://api.covid19india.org/csv/latest/raw_data21.csv')

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17364 entries, 0 to 17363
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Patient Number                             17306 non-null  float64
 1   State Patient Number                       2457 non-null   object
 2   Date Announced                             17364 non-null  object
 3   Estimated Onset Date                       0 non-null      float64
 4   Age Bracket                                1670 non-null   object
 5   Gender                                     3746 non-null   object
 6   Detected City                              2166 non-null   object
 7   Detected District                          14978 non-null  object
 8   Detected State                             17363 non-null  object
 9   State code                                 17363 non-null  object
 10  Current Status                             17364 non-null  object
 11  Notes                                      16046 non-null  object
 12  Contracted from which Patient (Suspected)  1537 non-null   object
 13  Nationality                                1554 non-null   object
 14  Type of transmission                       2951 non-null   object
 15  Status Change Date                         17195 non-null  object
 16  Source_1                                   17075 non-null  object
 17  Source_2                                   3396 non-null   object
 18  Source_3                                   445 non-null    object
 19  Backup Notes                               361 non-null    object
 20  Num Cases                                  17364 non-null  int64
dtypes: float64(2), int64(1), object(18)
memory usage: 2.8+ MB

In [7]:
df2.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num Cases'],
      dtype='object')

In [8]:
df3.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [9]:
df1=df1.rename(columns={"Num cases":"Num Cases"})
df2=df2.rename(columns={"Num cases":"Num Cases"})

In [10]:
df2.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num Cases'],
      dtype='object')

In [11]:
df1=df1.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df2=df2.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df3=df3.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df4=df4.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df5=df5.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df6=df6.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df7=df7.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df8=df8.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df9=df9.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df10=df10.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df11=df11.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df12=df12.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df13=df13.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df14=df14.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df15=df15.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df16=df16.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df17=df17.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df18=df18.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df19=df19.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df20=df20.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]
df21=df21.loc[:,['Num Cases','Date Announced','Age Bracket', 'Gender', 'Detected City','Detected District', 'Detected State','Current Status']]

In [12]:
df=df1.append([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21])

In [13]:
df

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered
...,...,...,...,...,...,...,...,...
25491,3.0,08/01/2021,NaN,NaN,NaN,Saraikela-Kharsawan,Jharkhand,Hospitalized
25492,2.0,08/01/2021,NaN,NaN,NaN,Saraikela-Kharsawan,Jharkhand,Recovered
25493,1.0,08/01/2021,NaN,NaN,NaN,Leh,Ladakh,Hospitalized
25494,11.0,08/01/2021,NaN,NaN,NaN,Leh,Ladakh,Recovered
25495,2.0,08/01/2021,NaN,NaN,NaN,Kargil,Ladakh,Recovered

In [14]:
DATE=df['Date Announced'].str.split('/',expand=True)

In [15]:
DATE.columns=['Day','Month',"year"]
DATE

      Day Month  year
0      30    01  2020
1      02    02  2020
2      03    02  2020
3      02    03  2020
4      02    03  2020
...    ..   ...   ...
25491  08    01  2021
25492  08    01  2021
25493  08    01  2021
25494  08    01  2021
25495  08    01  2021

[499508 rows x 3 columns]

In [16]:
df=pd.concat([df,DATE],axis=1)
df

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status,Day,Month,year
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered,30,01,2020
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered,02,02,2020
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered,03,02,2020
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered,02,03,2020
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered,02,03,2020
...,...,...,...,...,...,...,...,...,...,...,...
25491,3.0,08/01/2021,NaN,NaN,NaN,Saraikela-Kharsawan,Jharkhand,Hospitalized,08,01,2021
25492,2.0,08/01/2021,NaN,NaN,NaN,Saraikela-Kharsawan,Jharkhand,Recovered,08,01,2021
25493,1.0,08/01/2021,NaN,NaN,NaN,Leh,Ladakh,Hospitalized,08,01,2021
25494,11.0,08/01/2021,NaN,NaN,NaN,Leh,Ladakh,Recovered,08,01,2021
25495,2.0,08/01/2021,NaN,NaN,NaN,Kargil,Ladakh,Recovered,08,01,2021

In [17]:
df.to_csv('Covide19India.csv')

In [18]:
df

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status,Day,Month,year
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered,30,01,2020
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered,02,02,2020
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered,03,02,2020
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered,02,03,2020
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered,02,03,2020
...,...,...,...,...,...,...,...,...,...,...,...
25491,3.0,08/01/2021,NaN,NaN,NaN,Saraikela-Kharsawan,Jharkhand,Hospitalized,08,01,2021
25492,2.0,08/01/2021,NaN,NaN,NaN,Saraikela-Kharsawan,Jharkhand,Recovered,08,01,2021
25493,1.0,08/01/2021,NaN,NaN,NaN,Leh,Ladakh,Hospitalized,08,01,2021
25494,11.0,08/01/2021,NaN,NaN,NaN,Leh,Ladakh,Recovered,08,01,2021
25495,2.0,08/01/2021,NaN,NaN,NaN,Kargil,Ladakh,Recovered,08,01,2021